@font-face {
  font-family: 'Graphie';
  src: url('./GraphieRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphie';
  src: url('./GraphieExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
